.div1{
    background-color: floralwhite;
    align-items: center;
    text-align: center;
    width: 1330px;
    height: 60px;
}
.div2{
    height: 300px;
    width: 700px;
    background-image:url('wins.bmp');
   align-self: center;
}
.p{
    text-size-adjust: 28px;
}
.t{
    width: 700px;
    height: 60px;
    size: 28px;
}
.b{
    background-color: floralwhite;
}
.sun{
    height: 400px;
    width: 700px;
    background-image:url('sunflower.bmp');
   align-self: center;
}
.y{
    height: 400px;
    width: 700px;
    background-image:url('g.bmp');
   align-self: center;
}
   